:root {
	--body-color: #0ea5e9;
	--container-color: #38bdf8;
	--subsection-color: #7dd3fc;
	--main-font: 'Ubuntu', helvetica, sans-serif;
	--main-radius: 18px;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: var(--main-font);
}

.trending img {
	width: 36px;
	height: 36px;
	border-radius: 4rem;
}

.header,
.sidebar,
.projects,
.announcements,
.trending,
.event-dates,
.title,
.footer {
	background-color: var(--subsection-color);
}

body {
	background-color: var(--body-color);
	margin: 1rem;
}

div,
header,
footer,
aside {
	border-radius: var(--main-radius);
	padding: 1em;
}

.container {
	height: 100vh;
	border-radius: var(--main-radius);
	display: grid;
	grid-template-areas:
		'sidebar header header'
		'sidebar cards cards'
		'sidebar announce trend'
		'footer footer footer';
	grid-template-columns: 1fr 2fr 2fr;
	gap: 0.5em;
}

.header {
	grid-area: header;
	grid-column: 2 / -1;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	justify-items: space-between;
}

.header div {
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: 1em;
}

.header div:nth-of-type(2) {
	gap: 2em;
}

.header div:nth-of-type(3) {
	justify-self: end;
	padding-right: 2em;
}

.sidebar {
	grid-area: sidebar;
	grid-column: 1 / 2;
	padding: 1.5em;
}

.sidebar .sidebar-links {
	display: grid;
	grid-template-rows: 1fr 3fr 2fr 1fr;
	gap: 2em;
}

.sidebar .sidebar-links li {
	display: flex;
	align-items: center;
	gap: 1em;
	font-size: 1.2em;
}

.sidebar-links div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-row: 1 / 2;
}

.sidebar-links div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	grid-row: 2 / 3;
}

.sidebar-links div:nth-of-type(3) {
	display: flex;
	gap: 1em;
	flex-direction: column;
	justify-content: center;
	grid-row: 3 / 4;
}

.sidebar-links div:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	grid-row: 4 / 5;
	justify-self: center;
	padding-top: 1.5em;
}

.projects {
	grid-area: cards;
	grid-column: 2 / 4;
}

.announcements {
	grid-area: announce;
	grid-column: 2 / 3;
}

.trending {
	grid-area: trend;
	grid-column: 3 / 4;
}

.footer {
	grid-area: footer;
	grid-column: 1 / -1;
}
