:root {
	--subsection-color: #0369a1;
	--body-color: #262626;
	--main-font: 'Ubuntu', helvetica, sans-serif;
	--main-radius: 18px;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: var(--main-font);
}

.header,
.sidebar,
.projects,
.announcements,
.trending {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

svg {
	color: white;
}

.trending img {
	width: 54px;
	height: 54px;
	border-radius: 2rem;
}

.header,
.sidebar,
.projects,
.announcements,
.trending,
.event-dates,
.footer {
	background-color: var(--subsection-color);
	border-left: 0.25em solid white;
}

.header:hover,
.sidebar:hover,
.projects:hover,
.announcements:hover,
.trending:hover,
.event-dates:hover,
.footer:hover {
	border-left: 0.25em solid rgb(215, 141, 4);
}

body {
	background-color: var(--body-color);
}

div,
header,
footer,
aside {
	border-radius: var(--main-radius);
	padding: 1em;
}

.container {
	height: 100vh;
	border-radius: var(--main-radius);
	display: grid;
	grid-template-areas:
		'sidebar header header'
		'sidebar cards cards'
		'sidebar announce trend'
		'footer footer footer';
	grid-template-columns: 1fr 2fr 2fr;
	gap: 0.5em;
}

.header {
	grid-area: header;
	grid-column: 2 / -1;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	justify-items: space-between;
}

.header div {
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: 1em;
}

.header div > input {
	flex-basis: 350px;
	border-radius: 1em;
	outline: none;
	appearance: none;
	border: none;
	padding: 0.15em 0 0.15em 0.5em;
}

.header div:nth-of-type(2) {
	padding-left: 3em;
	gap: 2em;
}

.header div:nth-of-type(3) {
	justify-self: end;
	padding-right: 2em;
}

.sidebar {
	grid-area: sidebar;
	grid-column: 1 / 2;
	padding: 1.5em;
}

.sidebar .sidebar-links {
	display: grid;
	grid-template-rows: 1fr 3fr 2fr 1fr;
	gap: 2em;
}

.sidebar .sidebar-links li {
	display: flex;
	align-items: center;
	gap: 1em;
	font-size: 1.3em;
}

.sidebar .sidebar-links li:hover {
}

.sidebar-links div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-row: 1 / 2;
}

.sidebar-links div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5em;
	grid-row: 2 / 3;
}

.sidebar-links div:nth-of-type(3) {
	display: flex;
	gap: 1.5em;
	flex-direction: column;
	justify-content: center;
	grid-row: 3 / 4;
}

.sidebar-links div:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	grid-row: 4 / 5;
	justify-self: center;
	padding-top: 1.5em;
}

.projects {
	grid-area: cards;
	grid-column: 2 / 4;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1em;
	padding: 1em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.projects div.title {
	grid-column: 1 / -1;
	box-shadow: none;
	place-self: center;
	margin: 0;
	padding: 0.5em 0 0 0;
}

.projects .title {
	height: 5em;
	margin: 0;
	letter-spacing: 0.1em;
}

.projects .title h1 {
	margin: 0;
}

.projects div.project-links {
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-bottom: 0.25em solid white;
}

.projects .project-links:hover {
	border-bottom: 0.25em solid orange;
}

x .project-links h2 {
	grid-column: 1 / -1;
	place-self: center;
	padding: 0.2em 0 0.5em;
}

.project-links p {
	grid-column: 1 / -1;
	padding-bottom: 0.5em;
	place-self: center;
	text-align: center;
}

.project-links svg:nth-of-type(1) {
	grid-column: 1 / 2;
	place-self: center;
}

.project-links svg:nth-of-type(2) {
	grid-column: 2 / 3;
	place-self: center;
}

.project-links svg:nth-of-type(3) {
	grid-column: 3 / 4;
	place-self: center;
}

.announcements {
	grid-area: announce;
	grid-column: 2 / 3;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.announcements div {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	padding: 1em;
}

.announcements p:nth-of-type(1) {
	font-weight: bolder;
	font-size: 1.1em;
}

.announcements p:nth-of-type(2) {
	font-style: italic;
}

.announcements div:nth-of-type(1) {
	grid-row: 1 / 2;
	border-radius: 0;
	border-bottom: 1px solid black;
}

.announcements div:nth-of-type(2) {
	border-radius: none;
	grid-row: 2 / 3;
}

.trending {
	grid-area: trend;
	grid-column: 3 / 4;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	padding: 2em 0 2em 2em;
	gap: 2em;
}

.trending div {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 2em 2em;
	padding: 0.5em 0 0 0;
}

.trending div p {
	grid-column: 1 / 3;
}

.trending div img {
	justify-content: center;
}

.footer {
	grid-area: footer;
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	letter-spacing: 0.1em;
	border-right: 0.25em solid white;
}
