:root {
	--main-container-color: #262626;
	--subsection-color: #404040;
	--main-font: 'Ubuntu', helvetica, sans-serif;
	--main-radius: 8px;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.trending img {
	width: 36px;
	height: 36px;
	border-radius: 4rem;
}

.header,
.sidebar,
.projects,
.announcements,
.trending,
.event-dates,
.title,
.footer {
	background-color: var(--subsection-color);
}
